/*Resetting all margin and paddings to zero*/
*{
  margin: 0;
  padding: 0;
}


/*Writing custom properties*/
:root{
  --fs-n: 1rem;
  --fs-m: 1.3rem;
  --fs-xs: calc(var(--fs-n)/1.3);

  --fw-n: 300;
  --fw-b: 600;
  --fw-bb: 900;

  --clr-primary: black;
  --clr-accent: grey;

  --ff-primary: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
}


/*Utility classes*/
.flex{
  display: flex;
}

.capitalize{
  text-transform: capitalize;
}


/*Styling card component*/
body{
  font-family: var(--ff-primary);
  color: var(--clr-accent);
  background-image:
    url(../img/bg-pattern-top.svg),
    url(../img/bg-pattern-bottom.svg);
  background-position:
    bottom 15rem left -20rem,
    top 15rem right -20rem;
  background-repeat: no-repeat;
  background-color: rgba(25,161,173,1);
}

.card-container{
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.card{
  min-width: 17rem;
  min-height: 20rem;
  border-radius: 1rem;
  box-shadow: .5rem .5rem 3rem rgba(0,0,0, .2);
  overflow: hidden;
  background-image: url(../img/bg-pattern-card.svg);
  background-repeat: no-repeat;
  padding: 1.5rem;
  background-color: white;
}

.card-content{
  flex-grow: 1;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 4rem;
}

.pp{
  border-radius: 50%;
  border: white 5px solid;
  margin: 0 0 .5rem;
  width: 6rem;
  aspect-ratio: 1;
}

.standout-txt{
  font-weight: var(--fw-b);
  color: black;
  font-size: var(--fs-m);
}

.slim-txt{
  font-weight: var(--fw-n);
  padding-left: .2rem;
}

.small-txt{
  font-size: var(--fs-n);
  font-weight: var(--fw-n);
}

.spaced-xs-txt{
  letter-spacing: 1px;
  font-size: var(--fs-xs);
}

.persona-info-vertical{
  flex-direction: column;
  align-items: center;
}

.persona-info-horizontal{
  justify-content: space-between;
  border-top: 1px solid lightgrey;
  padding: 1rem 0 0 0 ;
}

h1, p{
  text-align: center;
}

h1{
  line-height: 1;
}
